body {
    background-color: white;
  }
  
  h1 {
    color: black;
    text-align: center;
    font-family: verdana;
  }
  
  p {
    font-family: verdana;
  }

  h5 {
    background:lightgray;
    font-family: verdana;
    text-align: left;
  }