body {
    background-color: white;
  }
  
  h1 {
    color: black;
    text-align: center;
    font-family: verdana;
  }
  
  p {
    font-family: verdana;
  }

  header {
    background:darkred;
    font-family: verdana;
    display: block;
    padding: 14px 16px;
    text-align:center;
  }

  a {
    color: darkblue;
  }

  a.header {
    color: white;
  }

  img.banner {
    align-self: right;
  }

  link {
    color: white;
  }

  img {
    align-self:right;
  }